.about-us-layout {
  height: 450vh;
  background: #426d55;
}

.about-us-headtag {
  margin: 0;
  position: absolute;
  margin-top: 4%;
  margin-left: 4.5%;
}

.weird-line {
  width: 50%;
}

@media (max-width: 430px) {
  .about-us-headtag {
    margin-top: 7%;
    margin-left: 7%;
  }

  .weird-line {
    margin-top: 15%;
  }
}

@media (max-width: 414px) {
  .about-us-headtag {
    margin-top: 7%;
    margin-left: 7%;
  }

  .weird-line {
    margin-top: 15%;
  }
}

@media (max-width: 390px) {
  .about-us-headtag {
    margin-top: 7%;
    margin-left: 7%;
  }

  .weird-line {
    margin-top: 15%;
  }
}

@media (max-width: 375px) {
  .about-us-headtag {
    margin-top: 7%;
    margin-left: 7%;
  }

  .weird-line {
    margin-top: 15%;
  }
}

@media (max-width: 360px) {
  .about-us-headtag {
    margin-top: 7%;
    margin-left: 7%;
  }

  .weird-line {
    margin-top: 15%;
  }
}
