.authenticity {
  margin-top: 10%;
  display: flex;
  text-align: left;
}

.authenticity-headline {
  margin-left: 5%;
}

.authenticity-headline-our {
  font-size: 30px;
}

.authenticity-headline-category {
  font-size: 100px;
}

.authenticity-content {
  max-width: 90%;
}

.image {
  margin-right: 10%;
  width: 600px;
  height: 400px;
}

@media (max-width: 430px) {
  .authenticity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .authenticity-headline-our {
    font-size: 16px;
  }

  .authenticity-headline-category {
    font-size: 46px;
  }

  .authenticity-content {
    max-width: 90%;
  }

  .image {
    height: 150px;
    width: 300px;
    margin-top: 0%;
    margin-left: 5%;
  }
}

@media (max-width: 414px) {
  .authenticity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .authenticity-headline-our {
    font-size: 16px;
  }

  .authenticity-headline-category {
    font-size: 46px;
  }

  .authenticity-content {
    max-width: 90%;
  }

  .image {
    height: 150px;
    width: 300px;
    margin-top: 0%;
    margin-left: 5%;
  }
}

@media (max-width: 390px) {
  .authenticity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .authenticity-headline-our {
    font-size: 16px;
  }

  .authenticity-headline-category {
    font-size: 46px;
  }

  .authenticity-content {
    max-width: 90%;
  }

  .image {
    height: 150px;
    width: 300px;
    margin-top: 0%;
    margin-left: 5%;
  }
}

@media (max-width: 375px) {
  .authenticity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .authenticity-headline-our {
    font-size: 16px;
  }

  .authenticity-headline-category {
    font-size: 46px;
  }

  .authenticity-content {
    max-width: 90%;
  }

  .image {
    height: 150px;
    width: 300px;
    margin-top: 0%;
    margin-left: 5%;
  }
}

@media (max-width: 360px) {
  .authenticity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .authenticity-headline-our {
    font-size: 16px;
  }

  .authenticity-headline-category {
    font-size: 46px;
  }

  .authenticity-content {
    max-width: 90%;
  }

  .image {
    height: 150px;
    width: 300px;
    margin-top: 0%;
    margin-left: 5%;
  }
}
