.ethos {
  display: flex;
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: left;
}

.ethos-headline-our {
  font-size: 30px;
}

.ethos-headline-category {
  font-size: 150px;
}

.ethos-headline {
  margin-left: 5%;
}

.ethos-content {
  max-width: 85%;
}

.image {
  margin-right: 13%;
  width: 500px;
  height: 600px;
}

@media (max-width: 430px) {
  .ethos {
    margin-top: 95%;
  }

  .ethos-headline-our {
    font-size: 20px;
  }

  .ethos-headline-category {
    font-size: 80px;
  }

  .ethos-content {
    max-width: 90%;
  }

  .image {
    height: 350px;
    width: 80%;
    position: absolute;
    margin-top: 70%;
    left: 10%;
  }
}

@media (max-width: 414px) {
  .ethos {
    margin-top: 110%;
  }

  .ethos-headline-our {
    font-size: 20px;
  }

  .ethos-headline-category {
    font-size: 80px;
  }

  .ethos-content {
    max-width: 90%;
  }

  .image {
    height: 350px;
    width: 80%;
    position: absolute;
    margin-top: 70%;
    left: 10%;
  }
}

@media (max-width: 375px) {
  .ethos {
    margin-top: 103%;
  }

  .ethos-headline-our {
    font-size: 20px;
  }

  .ethos-headline-category {
    font-size: 80px;
  }

  .ethos-content {
    max-width: 90%;
  }

  .image {
    height: 350px;
    width: 300px;
    position: absolute;
    margin-top: 70%;
    left: 10%;
  }
}

@media (max-width: 360px) {
  .ethos {
    margin-top: 103%;
  }

  .ethos-headline-our {
    font-size: 20px;
  }

  .ethos-headline-category {
    font-size: 80px;
  }

  .ethos-content {
    max-width: 90%;
  }

  .image {
    height: 350px;
    width: 80%;
    position: absolute;
    margin-top: 75%;
    left: 10%;
  }
}
