.get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background: rgb(224, 224, 224);
}

.background {
  position: absolute;
  width: 700px;
  height: 700px;
  background: rgb(255, 255, 255);
  border-radius: 1000px;
  transform: translateX(-50%);
  z-index: 1;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 2;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  cursor: pointer;
  color: rgb(114, 114, 114);
  transition: 0.2s;
}
