.history {
  display: flex;
  text-align: left;
}

.history-headline {
  margin-top: 13%;
  margin-left: 5%;
}

.history-headline-our {
  font-size: 30px;
}

.history-headline-category {
  font-size: 150px;
}

.history-content {
  max-width: 85%;
}

.image {
  margin-top: 18%;
  margin-right: 10%;
  height: 200px;
  width: 550px;
}

@media (max-width: 430px) {
  .history {
    flex-direction: column;
  }

  .history-headline {
    margin-top: 30%;
  }

  .history-headline-our {
    font-size: 20px;
  }

  .history-headline-category {
    font-size: 80px;
  }

  .history-content {
    max-width: 90%;
  }

  .image {
    height: 100px;
    width: 300px;
    margin-left: 5%;
    margin-top: 0;
  }
}

@media (max-width: 414px) {
  .history {
    flex-direction: column;
  }

  .history-headline {
    margin-top: 30%;
  }

  .history-headline-our {
    font-size: 20px;
  }

  .history-headline-category {
    font-size: 80px;
  }

  .history-content {
    max-width: 90%;
  }

  .image {
    height: 100px;
    width: 300px;
    margin-left: 5%;
    margin-top: 0;
  }
}

@media (max-width: 390px) {
  .history {
    flex-direction: column;
  }

  .history-headline {
    margin-top: 30%;
  }

  .history-headline-our {
    font-size: 20px;
  }

  .history-headline-category {
    font-size: 80px;
  }

  .history-content {
    max-width: 90%;
  }

  .image {
    height: 100px;
    width: 300px;
    margin-left: 5%;
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .history {
    flex-direction: column;
  }

  .history-headline {
    margin-top: 30%;
  }

  .history-headline-our {
    font-size: 20px;
  }

  .history-headline-category {
    font-size: 80px;
  }

  .history-content {
    max-width: 90%;
  }

  .image {
    height: 100px;
    width: 300px;
    margin-left: 5%;
    margin-top: 0;
  }
}

@media (max-width: 360px) {
  .history {
    flex-direction: column;
  }
  
  .history-headline {
    margin-top: 30%;
  }

  .history-headline-our {
    font-size: 20px;
  }

  .history-headline-category {
    font-size: 80px;
  }

  .history-content {
    max-width: 90%;
  }

  .image {
    height: 100px;
    width: 300px;
    margin-left: 5%;
    margin-top: 0;
  }
}
