@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

body {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
