.introduction {
  text-align: left;
  position: relative;
}

.info-box {
  max-width: 25%;
  text-align: justify;
}

.info-box a {
  text-decoration: none;
  color: #eeeba7;
}

.info-box a:hover {
  color: #f1dc9c;
  transition: 0.2s ease-in-out;
}

@media (max-width: 1280px) {
  .introduction h1 {
    font-size: 300%;
  }
}

@media (max-width: 430px) {
  .introduction h1 {
    text-align: center;
    font-size: 300%;
  }

  .info-box {
    max-width: fit-content;
    text-align: justify;
  }

  .info-box a {
    font-size: 12px;
  }
}
