.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.introduction h1 {
  margin: 0;
  font-size: 500%;
}

.introduction p {
  margin: 0 20% 0.5rem 20%;
}

.content {
  position: relative;
  z-index: 2;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(210, 210, 210);
  border-radius: 1000px;
  z-index: -1;
  width: 350px;
  height: 350px;
}

@media (max-width: 768px) {
  .introduction h1 {
    font-size: 60px;
  }
  .introduction p {
    font-size: 14px;
  }
}

@media (max-width: 438px) {
  .introduction h1 {
    font-size: 50px;
  }
  .introduction p {
    font-size: 14px;
  }
}
