.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-detail {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.item-detail div {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.item-detail div p {
  margin-top: 0;
}

.item-content a {
  text-decoration: none;
  color: #eeeba7;
}

.item-content a:hover {
  color: #f1dc9c;
  transition: 0.2s ease-in-out;
}

@media (max-width: 430px) {
  .item h1 {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  .item h1 {
    font-size: 22px;
  }
}