.items {
  color: #eeeba7;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150vh;
}

.items-content {
  width: 80%;
  margin-top: 7%;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2%;
  margin-top: 2%;
}

.items-grid a {
  text-decoration: none;
  color: #eeeba7;
}

.item-card {
  background: #3a5945;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 430px) and (max-height: 932px) {
  .items-content {
    margin-top: 18%;
  }

  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }

  .items-grid a {
    padding: 10px;
  }
  .items {
    height: 370vh;
  }
}

@media (max-width: 414px) and (max-height: 896px) {
  .items-content {
    margin-top: 18%;
  }

  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }

  .items-grid a {
    padding: 10px;
  }
  .items {
    height: 400vh;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .items-content {
    margin-top: 18%;
  }

  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }

  .items-grid a {
    padding: 10px;
  }
  .items {
    height: 430vh;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .items-content {
    margin-top: 18%;
  }

  .items-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }

  .items-grid a {
    padding: 10px;
  }
  .items {
    height: 550vh;
  }
}
