.landing {
  padding-left: 5%;
  padding-top: 6%;
  height: 90vh;
}

.landing h1 {
  margin: 0;
  font-size: 500%;
}

@media (max-width: 430px) {
  .landing {
    padding: 0;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
  }
}
