.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer {
  bottom: 0;
  width: 100%;
  background: rgb(144, 144, 144);
  color: white;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
}
