.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5%;
  padding-right: 6%;
  padding-top: 2.75%;
  background-color: transparent;
}

.navbar p,
.navbar div {
  margin: 0;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  cursor: pointer;
  color: rgb(114, 114, 114);
  transition: 0.2s;
}
