.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  height: 100vh;
  margin-left: 25%;
}

.products h1 {
  text-align: center;
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
