.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.products-segment a {
  text-decoration: none;
}

.products-segment h1 {
  color: #eeeba7;
}

.products-segment h1:hover {
  color: #f1dc9c;
}
