.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.rating a {
  text-decoration: none;
  color: #eeeba7;
}

.rating a:hover {
  cursor: pointer;
  color: #f1dc9c;
  transition: 0.2s;
}

.rating-box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: #eeeba7;
}
