.shop {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: #eeeba7;
  font-size: 32px;
}

.links a:hover {
  cursor: pointer;
  color: #f1dc9c;
  transition: 0.2s;
}

@media (max-width: 414px) {
  .links {
    gap: 15px;
  }

  .running-text h1 {
    white-space: nowrap;
    font-size: 20px;
  }
}
