.vision-mission {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-mission-content {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.vision-mission-content h3 {
  font-size: 20px;
}

.vision-mission-title {
  margin: 0;
  font-size: 120px;
  vertical-align: middle;
}

.button-container {
  position: absolute;
  right: 5%;
  z-index: 1;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.button-container img {
  padding-top: 25%;
}

@media (max-width: 768px) {
  .vision-mission-content p {
    max-width: 50%;
    margin: auto;
  }

  .vision-mission-text {
    font-size: 80px;
  }
}
